.gallery-grid {
  display: grid;
  grid-template-columns: repeat(7, 100%);
  overflow: scroll;
  padding-top: 2em;
}

.gallery-grid .item-container {
  max-width: 100% !important;
}

@media only screen and (min-width: 375px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 94%);
  }

}

@media only screen and (min-width: 400px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 64%);
  }

}

@media only screen and (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 52%);
  }
}

@media only screen and (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 36%);
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 25%);
  }
}

@media only screen and (min-width: 2560px) {
  .gallery-grid {
    grid-template-columns: repeat(7, 13%);
  }
}
